html {
  scroll-behavior: smooth;
}

.cursorPointer {
  cursor: pointer;
}

body {
    overflow: auto;
  // background-image: url("../assets/images/misc/continuous-cf-bg.png") !important;
  // background-size: 70px;
  // background-repeat: repeat;
}
